header{
    background-color: gray;
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 40pt;
    position: sticky;
}
*{
    margin: 0;
}
nav{
    width: 25%;
    background: greenyellow;
    color:black;
    top: 100px;
    
    float: left;

}
main{
    background-color: white;
    color: black;
    padding-left: 30px;
    width: 75%;
    left: 25%;
    float
}